/* Style Guide */
/* ## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700
- sans-serif

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 
- sans-serif  

*/

html { 
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

/* Mobile: 375px */

/* Desktop: 1440px */
body{
    width: 100%;
    min-height: 100vh;
    font-family: inter, sans-serif;
    line-height: 1.5;
}

h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
    margin: 0;
    /* text-align: center; */
}
/* flex container */
.content-wrapper{
    border: 2px solid black;
    width: 1005px;
    height: 405px;
    margin: 333px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 6px;
}

.header-image img{
    width: 490px;
    height: 402px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* flex item */
.header-image{
    /* flex: 0 0 0; */
    flex-basis: 490px;
}

/* flex item */
.stats-wrapper{
    padding-top: 63px;
    padding-left: 40px;
    padding-right: 40px;
    flex-basis: 490px;
    /* flex: 0 0 500px; */
}
    

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }