/* Style Guide */
/* ## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700
- sans-serif

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 
- sans-serif  

*/

html { 
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

/* Mobile: 375px */

/* Desktop: 1440px */
body{
    width: 100%;
    min-height: 100vh;
    font-family: inter, sans-serif;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    background-color: hsl(233, 47%, 7%);
}

h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
    margin: 0;
    color: white;
    margin-bottom: 20px;
    /* text-align: center; */
}
.emphasis{
    /* font-family: lexend deca, sans-serif; */
    /* font-weight: 400; */
    color: hsl(277, 64%, 61%);
}

p{
    font-family: inter, sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 60px;
    padding-right: 70px;
    line-height: 1.75;
}


/* flex container */
.content-wrapper{
    border: 2px solid black;
    width: 1010px;
    height: 402px;
    margin: 175px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    border-radius: 6px;
}

/* flex item */
.header-image{
    /* width: 488px; */
    height: 402px;
   
    /* this was tricky for me to figure out. Found solution via a tip on slack channel that led me to - https://alligator.io/css/exploring-blend-modes/ which had the info I needed, but I couldn't figure it out. I then googled "background-blend-mode to see more examples where i then found https://css-tricks.com/almanac/properties/b/background-blend-mode/ and it was more clear that multiply would darken the picture */
    background-image: url('../images/image-header-desktop.jpg');
    background-color: hsl(277, 64%, 61%);
    background-blend-mode:multiply;

    /* semi working */
    /* background-blend-mode: overlay;
    background-image: url('../images/image-header-desktop.jpg'),
    linear-gradient(#aa5cdb, #000000); */



    background-size: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    padding: 0;
    flex: 1;
    /* flex-basis: 488px; */
    flex: 0 1 488px;
}

/* wraps all text - h1, p, and stats */
.text-wrapper{
    height: 402px;
    background-color:hsl(244, 38%, 16%);
    /* flex-basis: 516px; */
    flex: 0 1 516px;
    margin-left: 2px;
    /* padding: 65px; */
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 70px;
    padding-right: 60px;
}

/* wraps only the three stats at bottom */
.stats-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:65px;
}

/* each stat */

.caps{
    text-transform: uppercase;
}
.stats{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: lexend deca, sans-serif;
    font-size: .75rem;
    font-weight: 100;
}

.stats-heading{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: inter, sans serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin:0;
}

.attribution { font-size: 11px; text-align: center; color: hsla(0, 0%, 100%, 0.75);}
.attribution a { color: hsl(277, 64%, 61%); }

